body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
    background: #f2f2f2;
}

h1 {
    color: darkblue;
}

h1, h2, h3, h4 {
    text-align: center;
}

h3 {
    font: italic 22px 'Times';
}

h4 {
    font: bold 14px 'Times';
}

p {
    margin: 5px 5px 5px 5px;
}

table, td, th {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

input {
    font: normal 16px;
    border: 1px solid #DFDFDF;
    padding: 6px;
}

#wrap {
    margin: 0 auto;
    margin-top: 20px; 
    width: 90%;
    padding: 10px;
    background: ghostwhite;
    border: 1px solid #DFDFDF;
}

#msgs td, th {
    margin: 0 auto;
    margin-top: 0px;
    padding: 0px;
}

#msgs p{
    font-weight: 900;
    font-size: 14px;
    color: red;
    padding: 0px;
}

#forumTable {
    width:90%;
}
#forumTable th, td {
    text-align: left;
    padding: 5px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#forumTable th {
    color: ghostwhite;
    background: #A39063;
}
#forumTable td {
    color: dimgray;
}

#forumTable tr:nth-child(even) {
    background: #f2f2f2;
}
#forumTable tr:nth-child(odd) {
    background: #e6e6e6;
}

.submitBtn {
    color: ghostwhite;
    background: limegreen;
}

.center {
    text-align: center;
}

#topTable {
    width: 100%;
}
#topTable td h3 {
    text-align: left;
    font-size: 16px;
    font: normal 16px 'Trebuchet MS';
}

.require::after {
    color: red;
    content: "*";
}

#sub {
    width: 100px;
    font: normal 16px;
    border: 1px solid #DFDFDF;
    padding: 6px;
    color: ghostwhite;
    background: #2db92d;
}

#sub:hover {
    font: normal 16px;
    border: 1px solid #DFDFDF;
    padding: 6px;
    color: ghostwhite;
    background: limegreen;
}

#unsub {
    width: 100px;
    font: normal 16px;
    border: 1px solid #DFDFDF;
    padding: 6px;
    color: ghostwhite;
    background: #bfbfbf;
}

#unsub:hover {
    font: normal 16px;
    border: 1px solid #DFDFDF;
    padding: 6px;
    color: ghostwhite;
    background: #cccccc;
}